<configuration>
  <appSettings>
    <add key="AppName" value="DemoApplication"/>
    <add key="Version" value="1.0.0"/>
    <add key="EnableLogging" value="true"/>
    <add key="LogLevel" value="DEBUG"/>
    <add key="MaxConnections" value="100"/>
    <add key="TimeoutSeconds" value="30"/>
  </appSettings>
  <connectionStrings>
    <add name="MainDB" connectionString="Server=localhost;Database=DemoDB;User Id=admin;Password=secret;" providerName="System.Data.SqlClient"/>
    <add name="CacheDB" connectionString="Server=localhost;Database=CacheDB;User Id=cacheUser;Password=cachePass;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <authentication mode="Forms"/>
    <sessionState timeout="20" mode="InProc"/>
  </system.web>
  <logging>
    <file path="logs/app.log" maxSizeMB="50"/>
    <console enabled="true"/>
    <remote endpoint="http://logserver:8080/api/logs" enabled="false"/>
  </logging>
</configuration>
